/* .image{
  height: 500px;
  width: 50%;
} */

/* .image:hover{
  animation: player infinite 10s linear;
  border-radius: 50%;
  width: 50%;
  height: 50%;
}
@keyframes player{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
} */
.home_page{
  height: 100%;
  width: 100%;
  padding: 0% 4%;
}
